# Node.js and NPM
node_modules/
.pnp/
.pnp.js

# Environment variables
.env

# Build artifacts
build/
dist/

# IDE and editor files
.vscode/
.idea/
*.sublime-*

# Logs
*.log

# Miscellaneous
.DS_Store
Thumbs.db
